<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- old style 	<link rel="stylesheet" href="stylesheets/styles.css">
	  	<link rel="stylesheet" href="stylesheets/github-light.css"> -->
		<link rel="stylesheet" href="leaflet-1.0.3/leaflet.css"/>
		<script src="leaflet-1.0.3/leaflet.js"></script>
		<style> #map{ width: 600px; height: 400px; }</style>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	</head>
	<body>
		<h2> Matt Butner  </h2>
		<nav>
    		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="butner-cv.pdf">Curriculum Vitae</a></li>
			<li><a href="/research">Research</a></li>
			<li><a href="/teaching">Teaching</a></li>
			<li><a href="/data_explorations">Data explorations</a></li> 
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:mattbutner@gmail.com">email</a></li>
        		<li><a href="https://github.com/mattbutner">github.com/mattbutner</a></li>
			</ul>
		</footer>
	</body>
</html>
